body {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

.score {
  display: flex;
  justify-content: center;
  gap: 250px;
  padding: 50px 0 10px;
  font-weight: bold;
  font-size: 23px;
}

#playerScore,
#computerScore {
  display: flex;
  align-items: center;
  gap: 15px;
}

#player,
#computer {
  color: rgb(88, 88, 88);
}

#playerNumber,
#computerNumber {
  font-size: 40px;
}

.display {
  margin: 0;
  padding: 0;
  font-size: 60px;
  text-align: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h3 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 20px 0;
}

#reset {border: 3px solid rgb(218, 217, 217);}

#reset, .reset{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-weight: 100;
  margin: 20px 0 0;
}

button {
  width: 120px;
  height: 40px;
  color: rgb(88, 88, 88);
  font-weight: bold;
  font-size: 20px;
  border: 4px solid rgb(218, 217, 217);
  background: white;
  border-radius: 10px;
}